@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 24,24,24;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.footerPos {
  position: absolute;
  /* Ensure it covers the full width and stays at the bottom */
  bottom: 0;
}

@media (max-width: 768px) {
  .footerPos {
      position: sticky;
      /* Stick the footer to the bottom */
      bottom: 0;
  }
}