@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 24,24,24;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background:
    rgb(var(--background-start-rgb));
    display: flex;
    flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.custom-number-input::-webkit-outer-spin-button,
.custom-number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-number-input[type='number'] {
    -moz-appearance: textfield;
}

@keyframes fadeIn{
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeOut{
  from {opacity: 1;}
  to {opacity: 0;}
}

#toast-default {
  animation: fadeIn 0.5s ease-in forwards, fadeOut 0.5s ease-out forwards 2.5s;
}